<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="assets/amends_hotel/hotel/image/favicon.png" type="image/png">
        <title>Amends Hotel</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="assets/amends_hotel/hotel/css/bootstrap.css">
        <link rel="stylesheet" href="assets/amends_hotel/hotel/vendors/linericon/style.css">
        <link rel="stylesheet" href="assets/amends_hotel/hotel/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/amends_hotel/hotel/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="assets/amends_hotel/hotel/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="assets/amends_hotel/hotel/vendors/owl-carousel/owl.carousel.min.css">
        <!-- main css -->
        <link rel="stylesheet" href="assets/amends_hotel/hotel/css/style.css">
        <link rel="stylesheet" href="assets/amends_hotel/hotel/css/responsive.css">

        <!-- FRAPPE RESOURCES -->

        <!-- Copy from Frappe Website Home Page Source -->
        <script>
            window.frappe = {};
            frappe.ready_events = [];
            frappe.ready = function(fn) {
                frappe.ready_events.push(fn);
            }
            window.dev_server = {{ dev_server }};
            window.socketio_port = {{ (frappe.socketio_port or 'null') }};
            window.show_language_picker = {{ show_language_picker or 'false' }};
        </script>
        <!-- Copy from Frappe Website Home Page Source -->

        <!-- Copy from Desk Page View Source -->
        <!-- <link rel="icon" href="/assets/erpnext/images/erpnext-favicon.svg" type="image/x-icon">
        <link type="text/css" rel="stylesheet" href="/assets/frappe/dist/css/desk.bundle.7G54YAJV.css">
        <link type="text/css" rel="stylesheet" href="/assets/erpnext/dist/css/erpnext.bundle.ZF57AN7Z.css"> -->
        <!-- Copy from Desk Page View Source -->

    </head>
    <body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} class="{{ body_class or ''}}">
        
        <!--================ Accomodation Area  =================-->
        <section class="accomodation_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2 class="title_color">Reserve Accomodation</h2>
                    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast</p>
                </div>
                <div class="row mb_30">
                    {% for rp in room_prices %}
                        <div class="col-lg-3 col-sm-6">
                            <div class="accomodation_item text-center">
                                <div class="hotel_img">
                                    <img src="{{rp.image_url}}" alt="">
                                    <a href="#hotel_booking_area" class="btn theme_btn button_hover">Book Now</a>
                                </div>
                                <a href="#"><h4 class="sec_h4">{{rp.item_name}}</h4></a>
                                <h5>{{frappe.format(rp.valuation_rate, {'fieldtype': 'Currency'}) }}<small>/night</small></h5>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <div class="col-lg-3 col-sm-6">
                        <div class="accomodation_item text-center">
                            <div class="hotel_img">
                                <img src="assets/amends_hotel/hotel/image/room4.jpg" alt="">
                                <a href="#hotel_booking_area" class="btn theme_btn button_hover">Book Now</a>
                            </div>
                            <a href="#"><h4 class="sec_h4">Deluxe Double</h4></a>
                            <h5>{{frappe.format(250, {'fieldtype': 'Currency'}) }}<small>/night</small></h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================ Accomodation Area  =================-->
        <!--================Booking Tabel Area =================-->
        <section class="hotel_booking_area" id="hotel_booking_area">
            <div class="container">
                <div class="row hotel_booking_table">
                    <div class="col-md-3">
                        <h2>Book<br> Your Room</h2>
                    </div>
                    <div class="col-md-9">
                        <div class="boking_table">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group'>
                                                <input type='text' class="form-control" placeholder="Guest's Full Name" id="fullName"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker11'>
                                                <input type='text' class="form-control" placeholder="Arrival Date" id="checkin"/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" placeholder="Departure Date" id="checkout"/>
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide" id="room">
                                                <option data-display="Select Room">Select Room</option>
                                                {% for room_type in room_types %}
                                                    <option value="1">{{ room_type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <select class="wide" id="adults">
                                                <option data-display="Adults?">Adults?</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="book_tabel_item">
                                        <div class="input-group">
                                            <select class="wide" id="children">
                                                <option data-display="Children?">Children?</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                            </select>
                                        </div>
                                        <a class="book_now_btn button_hover" data-toggle="modal" data-target="#largeModal" id="book" href="#">Book Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Booking Tabel Area  =================-->

        <!-- ======== Modal to submit ======== -->
        <div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Booking Info</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <label for="fullName">Full Name: &nbsp;&nbsp;</label>
                                                    <input type="text" class="form-control" id="fullNameModal" value="" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <label for="checkin">Checkin: &nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                    <input type="datetime-local" class="form-control" id="checkinModal" value="" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <label for="checkout">Checkout: &nbsp;&nbsp;</label>
                                                    <input type="datetime-local" class="form-control" id="checkoutModal" value="" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <label for="room">Room Type: &nbsp;&nbsp;</label>
                                                    <input type="text" class="form-control" id="roomModal" value="" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="book_tabel_item">
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <label for="adults">Adults: &nbsp;&nbsp;</label>
                                                    <input type="number" class="form-control" id="adultsModal" value="0" >
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class='input-group'>
                                                    <label for="children">Children: &nbsp;&nbsp;</label>
                                                    <input type="number" class="form-control" id="childrenModal" value="0"  >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="submit-form">Confirm & Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Confirm & Submit</button>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- ======== Modal to submit ======== -->
       
        
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="assets/amends_hotel/hotel/js/jquery-3.2.1.min.js"></script>
        <script src="assets/amends_hotel/hotel/js/popper.js"></script>
        <script src="assets/amends_hotel/hotel/js/bootstrap.min.js"></script>
        <script src="assets/amends_hotel/hotel/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="assets/amends_hotel/hotel/js/jquery.ajaxchimp.min.js"></script>
        <script src="assets/amends_hotel/hotel/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
        <script src="assets/amends_hotel/hotel/vendors/nice-select/js/jquery.nice-select.js"></script>
        <script src="assets/amends_hotel/hotel/js/mail-script.js"></script>
        <script src="assets/amends_hotel/hotel/js/stellar.js"></script>
        <script src="assets/amends_hotel/hotel/vendors/lightbox/simpleLightbox.min.js"></script>
        <script src="assets/amends_hotel/hotel/js/custom.js"></script>

        <!-- frappe resources -->
        <script type="text/javascript" src="/assets/frappe/dist/js/libs.bundle.ZFPPLQGN.js"></script>
        <script type="text/javascript" src="/assets/frappe/dist/js/desk.bundle.XEGBGDGI.js"></script>
        <!-- <script type="text/javascript" src="/assets/frappe/dist/js/list.bundle.RHP4PCLN.js"></script> -->
        <!-- <script type="text/javascript" src="/assets/frappe/dist/js/form.bundle.LF4VCU3O.js"></script> -->
        <script type="text/javascript" src="/assets/frappe/dist/js/controls.bundle.2SLIHYHP.js"></script>
        <!-- <script type="text/javascript" src="/assets/frappe/dist/js/report.bundle.O6UMK47F.js"></script> -->
        <script type="text/javascript" src="/assets/erpnext/dist/js/erpnext.bundle.RHKQ3H6D.js"></script>

        <!-- Engineered Script -->
        <script src="assets/amends_hotel/www/js/booking.js"></script>

        <!-- csrf token -->
        <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>
        <!-- csrf token -->

       <script>
            frappe.boot = {{ boot }}
		    // for backward compatibility of some libs
	        frappe.sys_defaults = frappe.boot.sysdefaults;
       </script>
    </body>
</html>